

// ==============================
// PARTIAL IMPORTS
// ==============================

@import '../../styles/_color_variables.scss';
@import '../../styles/_font_variables.scss';
@import '../../styles/_mixins.scss';
@import '../../styles/_responsive_breakpoints.scss';


.newsletterContainer {

    display         : grid;
    align-content   : center;
    justify-content : center;
    height          : 400px;

    border-radius: 6px 6px 6px 6px;

    text-align : center;

    // background : rgba( 44, 79, 151, 0.75 );
    // background : rgba( 220, 220, 220, 0.05 );
    background : $steel-blue-200;

    // div 1
    .newsletterContainerHeading {

        margin : 4.0rem 0 1.0rem 0;

        > h2 {

            font-family : $font-primary-4;
            font-size   : 2.4rem;
            font-weight : 700;
            color       : $gray-200;
    
        } // end of h2

    } // end of newsletterContainerHeading

    // div 2
    .newsletterContainerContentContainer1 {

        margin : 0 0 4.0rem 0;

        // form
        .newsletterContainerContentContainer1Form {

            width  : 380px;
            margin : 0 auto;

            // email container and text area box container
            .newsletterContainerContentContainer1FormEmailInputContainer {

                position : relative;
                margin   : 2.5rem 0 4.0rem 0;

                // input element
                > input {

                    display : block;
                    width   : 100%;
                    margin  : 0;
                    padding : 12px 12px 12px 12px;

                    border        : none;
                    border-radius : 4px;
                    border-bottom : 1px solid $gray-650;

                    font-family : $font-primary-4;
                    font-size   : 1.6rem;
                    font-weight : 400;
                    color       : $gray-900;

                    background-color : rgb( 255, 255, 255);

                    &:focus {

                        outline : none;

                    }

                    // The general sibling combinator (~) separates two selectors and matches the
                    // second element only if it follows the first element (though not necessarily
                    // immediately), and both are children of the same parent

                    // what this says below is that whenever the user focuses inside the input element
                    // we want to use the general sibling combinator to target the form input label
                    // element and give the label an opacity of 0 and use a transition is give the
                    // movement a nice feel
                    &:focus ~ .newsletterContainerContentContainer1FormEmailInputContainerLabel {

                        opacity : 0;

                    }

                } // end of the input element

                // input label
                .newsletterContainerContentContainer1FormEmailInputContainerLabel {

                    position : absolute;
                    top      : 12px;
                    left     : 12px;

                    font-family : $font-primary-4;
                    font-size   : 1.6rem;
                    font-weight : 400;
                    color       : $gray-900;

                    pointer-events : none;
                    transition     : opacity 200ms ease;

                } // end of the input label

                // input label shrink
                .newsletterContainerContentContainer1FormEmailInputContainerLabelShrink {

                    display: none;
                
                } // end of input label shrink

            } // end of email input container

            // button container
            .newsletterContainerContentContainer1FormButtonContainer {

                display : grid;
                margin  : 4.0rem 0 0 0;

                > button {

                    @include button();

                    border-radius : 4px;

                    letter-spacing : 1px;

                    background : $red-100;
            
                    // had to do " outline : none; " in order to get rid of the weird outline or coloring
                    // around the button element after clicking the button
                    outline : none;
            
                    &:hover {
            
                        background : $red-300;
            
                    }

                } // end of button

            } // end of button container

        } // end of form

    } // end of newsletterContainerContentContainer1

} // end of newsletterContainer

