
// ==============================
// PARTIAL IMPORTS
// ==============================

@import '../../styles/_color_variables.scss';
@import '../../styles/_font_variables.scss';


.eventsPageContainer {

    grid-column : 2 / 12;

    margin : 0 0 6.0rem 0;

    > h1 {

        margin : 8.0rem 0 8.0rem 0;

        font-family    : $font-primary-4;
        font-size      : 3.2rem;
        font-weight    : 700;
        color          : $gray-800;
        letter-spacing : 1px;
        text-align     : center;

    } // end of h1

} // end of eventItemContainer

