

// ==============================
// PARTIAL IMPORTS
// ==============================

@import '../../styles/_color_variables.scss';
@import '../../styles/_font_variables.scss';
@import '../../styles/_mixins.scss';
@import '../../styles/_responsive_breakpoints.scss';


.eventItemContainer {

    display               : grid;
    grid-template-rows    : auto;
    grid-template-columns : 1fr 1fr;
    margin                : 0 0 6.0rem 0;
    padding               : 3.0rem 1.5rem 3.0rem 1.5rem;

    border        : 1px solid rgba( 234, 234, 234, 1 );
    border-radius : 10px;
    
    transition : color 0.15s ease, border-color 0.15s ease;

    &:hover,
    &:focus,
    &:active {

        border-color : rgba( 0, 112, 243, 1 );

        color : rgba( 0, 112, 243, 1 );

    }

    @media ( max-width: 920px ) {

        grid-template-rows    : repeat( 2, min-content );
        grid-template-columns : 1fr;
        grid-gap              : 4.0rem 0;

    }

    // ==============================
    // div #1
    // ==============================

    .eventItemContainerDiv1 {

        display               : grid;
        grid-template-rows    : auto;
        grid-template-columns : repeat( 2, max-content );
        align-items           : center;

        @media ( max-width: 920px ) {

            grid-template-rows    : repeat( 2, min-content );
            grid-template-columns : 1fr;
            grid-gap              : 4.0rem 0;
    
        }

        .eventItemContainerDiv1Column1 {

            > img {

                display : block; // had to do this in order to get rid of the extra space below the image
                width   : 170px;
                height  : auto;

                @media ( max-width: 920px ) {

                    width  : 100%;
                    height : auto;
            
                }

            } // end of img

        } // end of eventItemContainerDiv1

        .eventItemContainerDiv1Column2 {

            padding : 0 2.0rem 0 2.0rem;

            font-family    : $font-primary-4;
            font-size      : 1.6rem;
            color          : $gray-800;

            @media ( max-width: 920px ) {

                padding : 0;
        
            }

        } // end of eventItemContainerDiv2

    } // end of eventItemContainerDiv1

    // ==============================
    // div #2
    // ==============================

    .eventItemContainerDiv2 {

        display         : grid; // place the button at the end of the div and center it
        align-content   : center; // place the button at the end of the div and center it
        justify-content : end; // place the button at the end of the div and center it

        @media ( max-width: 920px ) {

            justify-content : stretch; // make the button fill the width of the container
    
        }

        > a {

            @include button();
            
            display : block; // had to do display : block; in order for grid to work correctly
            width   : 12.0rem;

            border-radius : 5px;

            font-family    : 'Poppins', sans-serif;
            font-size      : 1.6rem;
            letter-spacing : 1px;
            text-transform : none;

            background : $red-100;
    
            // had to do " outline : none; " in order to get rid of the weird outline or coloring
            // around the button element after clicking the button
            outline : none;
    
            &:hover {
    
                background : rgba( 200, 43, 59, 1 );
    
            }

            @media ( max-width: 920px ) {

                width : 100%; // make the button fill the width of the container
        
            }
    
        }
        
    } // end of eventItemContainerDiv2

} // end of eventItemContainer

