
// ==============================
// PARTIAL IMPORTS
// ==============================

@import '../../styles/_color_variables.scss';
@import '../../styles/_font_variables.scss';


.eventsPageContainer {

    display     : grid; // this + margin : auto below helped center the h1 element
    grid-column : 2 / 12;
    width       : 100%; // had to give this container a width of 100% in order for the children
    // elements to take up the entire container - not sure why this happened
    margin      : 0 0 6.0rem 0;

    > h1 {

        //display : inline-block; // make the background take up the width of the button and
        // not the container
        margin  : 12.0rem auto 6.0rem auto;
        padding : 1.2rem 4.8rem;

        border-radius : 6px;

        font-family    : $font-primary-4;
        font-size      : 3.2rem;
        color          : $gray-200;

        background-color : $blue-400;

    } // end of h1

} // end of eventItemContainer

