

// ==============================
// PARTIAL IMPORTS
// ==============================

@import '../../styles/_color_variables.scss';
@import '../../styles/_font_variables.scss';
@import '../../styles/_responsive_breakpoints.scss';


.successMessageContainer {
    
    display               : grid;
    grid-column           : 2 / 12;
    align-content         : center;
    position              : relative;
    width                 : 100%;
    height                : 6.5rem;
    margin                : 9.0rem 0 9.0rem 0;
    padding               : 2.0rem;

    border-radius : 3px;

    // green gradiant
    background : linear-gradient( 60deg, rgba( 150, 222, 218, 1 ) 0%, rgba( 80, 201, 195, 1 ) 100% );

    @media all and ( max-width : $bp-1280 ) {

        height  : 60px;

    }

    @media all and ( max-width : $bp-920 ) {

        height  : 16.0rem;
        padding : 4.0rem 6.0rem;

    }

    @media all and ( max-width : $bp-480 ) {

        height  : 20.0rem;
        padding : 4.0rem 6.0rem;

    }

    @media all and ( max-width : $bp-375 ) {

        height  : 24.0rem;
        padding : 4.0rem 6.0rem;

    }

    > h3 {

        font-family : $font-primary-4;
        font-size   : 1.6rem;
        font-weight : 400;
        color       : $black;

    } // end of h3

    > span {

        position : absolute;
        top      : 8px;
        right    : 8px;

        cursor : pointer;

    } // end of span

} // end of the success message container
