

// ==============================
// PARTIAL IMPORTS
// ==============================

@import '../../styles/_color_variables.scss';
@import '../../styles/_font_variables.scss';
@import '../../styles/_mixins.scss';


.feedbackPageContainer {

    grid-column     : 2 / 12; // do this so that the child elements take up the entire
    // screen horizontally
    margin          : 12.0rem 0 2.0rem 0;

    .feedbackPageContainerListItem {

        margin : 0 0 2.0rem 0;

        font-family : $font-primary-4;
        font-size   : 2.4rem;
        font-weight : 700;
        color       : $gray-800;
        text-align  : center;

    } // end of feedbackPageContainerListItem

    // button container
    .feedbackPageContainerButtonContainer {

        display : grid;
        margin  : 2.0rem 0 4.0rem 0;

        > button {

            @include button();

            border-radius : 4px;

            letter-spacing : 1px;

            background : sienna;
    
            // had to do " outline : none; " in order to get rid of the weird outline or coloring
            // around the button element after clicking the button
            outline : none;
    
            &:hover {
    
                background : $sienna-dark;
    
            }

        } // end of button

    } // end of button container


} // end of feedbackPageContainer

